<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Usuarios</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
                    <li class="breadcrumb-item active">Usuarios</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="creating=true;" data-toggle="modal"
                    data-target="#modal-default"><i class="fa fa-plus"></i>&nbsp;&nbsp; Nuevo Usuario</button>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Usuarios</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" class="table row-border hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Sexo</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Nombre de Usuario</th>
                                    <th>Correo</th>
                                    <th>Imagen</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.Name}}</td>
                                    <td>{{user.LastName}}</td>
                                    <!-- <td>{{usuario.clave}}</td> -->
                                    <td>{{user.Birthday}}</td>
                                    <td>{{user.Sex}}</td>
                                    <td>{{user.Direction}}</td>
                                    <td>{{user.Phone}}</td>
                                    <td>{{user.UserName}}</td>
                                    <td>{{user.Email}}</td>
                                    <td><img width="120px" src="http://localhost:3000/build/uploads/img/{{user.Image}}" alt=""></td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button (click)="edit(user.UserId)" type="button" class="btn btn-warning" data-toggle="modal"
                                            data-target="#modal-default">
                                                <i class="fas fa-edit" ></i>
                                            </button>
                                            <button (click)="delete(user.UserId)" type="button" class="btn btn-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default"  data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ngNativeValidate [formGroup]="formUser" (ngSubmit)="submit()">
                    <div class="modal-header">
                        <h4 class="modal-title">{{creating?'Nuevo':'Editando'}} Usuario</h4>
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputNombres">Nombres</label>
                            <input type="text" class="form-control" Name="" formControlName="Name" 
                                class="form-control" placeholder="Ingrese nombres" required>
                        </div>
                        <div class="form-group">
                            <label for="inputApellidos">Apellidos</label>
                            <input type="text" class="form-control" Name="" formControlName="LastName" 
                                class="form-control" placeholder="Ingrese apellidos" required>
                        </div>
                        <div class="form-group">
                            <label for="inputNombres">Fecha de nacimiento</label>
                            <input type="date" class="form-control" Name="" formControlName="Birthday" 
                                class="form-control" placeholder="Ingrese fecha de nacimiento" required>
                        </div>
                        <div class="form-group">
                            <label for="selectSupplier">Sexo</label>
                            <select name="Empresa" class="form-control" formControlName="Sex">
                                <option value="" disabled selected hidden>Selecciona un género</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="FEMENINO">FEMENINO</option>
                                
                            </select>
                            
                        </div>
                        <div class="form-group">
                            <label for="inputDepartment">Departamento</label>
                            <input type="text" class="form-control" Name="" formControlName="Department" 
                                class="form-control" placeholder="Ingrese departamento" required>
                        </div>
                        <div class="form-group">
                            <label for="inputProvince">Provincia</label>
                            <input type="text" class="form-control" Name="" formControlName="Province" 
                                class="form-control" placeholder="Ingrese provincia" required>
                        </div>
                        <div class="form-group">
                            <label for="inputDistrict">Distrito</label>
                            <input type="text" class="form-control" Name="" formControlName="District" 
                                class="form-control" placeholder="Ingrese distrito" required>
                        </div>
                        <div class="form-group">
                            <label for="inputDirection">Dirección</label>
                            <input type="text" class="form-control" Name="" formControlName="Direction" 
                                class="form-control" placeholder="Ingrese dirección" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Teléfono</label>
                            <input type="text" class="form-control" Name="" formControlName="Phone" 
                                class="form-control" placeholder="Ingrese teléfono" required>
                        </div>
                        <div class="form-group">
                            <label for="inputUserName">Nombre de usuario</label>
                            <input type="text" class="form-control" Name="" formControlName="UserName" 
                                class="form-control" placeholder="Ingrese nombre de usuario" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Correo</label>
                            <input type="text" class="form-control" Name="" formControlName="Email" 
                                class="form-control" placeholder="Ingrese correo" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Contraseña</label>
                            <input type="text" class="form-control" Name="" formControlName="Password" 
                                class="form-control" placeholder="Ingrese contraseña" required>
                        </div>
                        <div class="form-group">
                            <label for="inputImage">Imagen</label>
                            <input formControlName="Image" type="file" class="form-control-file" accept="image/*" name="image"
                            (change)="selectImage($event)">
                            <div *ngIf="show" class="card-body">
                                <img class="img-fluid" style="width:150px;" [src]="imgURL" class="card-img-top">
                              </div>
                            
                         </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"> Cerrar</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;
                            Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

