<div class="container">
    <div class="login-box"> 
        <form ngNativeValidate>
            <div class="row g-2">
                <div class="col-6 pe-2">
                    <button type="button" class="btn btn-select w-100" 
                    (click)="selectLoginPlumber()" aria-pressed="false">Login Plumber</button>
                </div>
                <div class="col-6 pe-2">
                    <button type="button" class="btn btn-select w-100" 
                    (click)="selectLoginCompany()" aria-pressed="false">Login Company</button>
                </div>
            </div>
        </form>
    </div>
</div>
