<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Clientes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
                    <li class="breadcrumb-item active">Clientes</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="creating=true;" data-toggle="modal"
                    data-target="#modal-default"><i class="fa fa-plus"></i>&nbsp;&nbsp; Nuevo Cliente</button>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Clientes</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" class="table row-border hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Fecha de nacimiento</th>
                                    <th>Sexo</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Imagen</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let client of clients">
                                    <td>{{client.Name}}</td>
                                    <td>{{client.LastName}}</td>
                                    <!-- <td>{{usuario.clave}}</td> -->
                                    <td>{{client.Birthday}}</td>
                                    <td>{{client.Sex}}</td>
                                    <td>{{client.Direction}}</td>
                                    <td>{{client.Phone}}</td>
                                    <td>{{client.Email}}</td>
                                    <td><img width="120px" src="http://localhost:3000/build/uploads/img/{{client.Image}}" alt=""></td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button (click)="edit(client.ClientId)" type="button" class="btn btn-warning" data-toggle="modal"
                                            data-target="#modal-default">
                                                <i class="fas fa-edit" ></i>
                                            </button>
                                            <button (click)="delete(client.ClientId)" type="button" class="btn btn-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default"  data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ngNativeValidate [formGroup]="formClient" (ngSubmit)="submit()">
                    <div class="modal-header">
                        <h4 class="modal-title">{{creating?'Nuevo':'Editando'}} Cliente</h4>
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputNombres">Nombres</label>
                            <input required type="text" class="form-control" Name="" formControlName="Name" 
                                class="form-control" placeholder="Ingrese nombres" required>
                        </div>
                        <div class="form-group">
                            <label for="inputApellidos">Apellidos</label>
                            <input required type="text" class="form-control" Name="" formControlName="LastName" 
                                class="form-control" placeholder="Ingrese apellidos" required>
                        </div>
                        <div class="form-group">
                            <label for="inputNombres">Fecha de nacimiento</label>
                            <input required type="date" class="form-control" Name="" formControlName="Birthday" 
                                class="form-control" placeholder="Ingrese fecha de nacimiento" required>
                        </div>
                        <div class="form-group">
                            <label for="selectSupplier">Sexo</label>
                            <select name="Empresa" class="form-control" formControlName="Sex" required>
                                <option value="" disabled selected hidden>Selecciona un género</option>
                                <option value="MASCULINO">MASCULINO</option>
                                <option value="FEMENINO">FEMENINO</option>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputUsuario">Departamento</label>
                            <input required type="text" class="form-control" Name="" formControlName="Department" 
                                class="form-control" placeholder="Ingrese departamento" required>
                        </div>
                        <div class="form-group">
                            <label for="inputUsuario">Provincia</label>
                            <input required type="text" class="form-control" Name="" formControlName="Province" 
                                class="form-control" placeholder="Ingrese provincia" required>
                        </div>
                        <div class="form-group">
                            <label for="inputUsuario">Distrito</label>
                            <input required type="text" class="form-control" Name="" formControlName="District" 
                                class="form-control" placeholder="Ingrese distrito" required>
                        </div>
                        <div class="form-group">
                            <label for="inputUsuario">Dirección</label>
                            <input required type="text" class="form-control" Name="" formControlName="Direction" 
                                class="form-control" placeholder="Ingrese dirección" required>
                        </div>
                        <div class="form-group">
                            <label for="inputUsuario">Teléfono</label>
                            <input required type="text" class="form-control" Name="" formControlName="Phone" 
                                class="form-control" placeholder="Ingrese teléfono" required>
                        </div>
                        <div class="form-group">
                            <label for="inputUsuario">Correo</label>
                            <input required type="text" class="form-control" Name="" formControlName="Email" 
                                class="form-control" placeholder="Ingrese correo" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPurchasePrice">Imagen</label>
                            <input formControlName="Image" type="file" class="form-control-file" accept="image/*" name="image"
                            (change)="selectImage($event)">
                            <div *ngIf="show" class="card-body">
                                <img class="img-fluid" style="width:150px;" [src]="imgURL" class="card-img-top">
                              </div>
                            
                         </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"> Cerrar</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;
                            Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
